@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100vw;
    height: 100vh;
    --red-color: hsl(0, 100%, 67%);
    --orange-color: hsl(39, 100%, 56%);
    --green-color: hsl(166, 100%, 37%);
    --blue-color: hsl(234, 85%, 45%);
}

.maincontainer {
    width: 100%;
    height: 100%;
    
}

.result {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 40%;
    width: 40%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;

}

.summary {
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 20px 0;
    font-size: 18px;
    color: hsl(224, 30%, 27%);
}
.summary div {
    height: 60px;
    border-radius: 10px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.082);
}
.memory {
    background-color: hsl(39, 100%, 56%, 0.082);
}
.verbal {
    background-color: hsla(166, 100%, 37%, 0.082);
}
.visual {
    background-color: hsl(234, 85%, 45%, 0.082);
    
}

.summary button {
    background-color: hsl(224, 30%, 27%);
    height: 65px;
    border-radius: 30px;
    border: none;
}


@media screen and (min-width: 992px) {

    body {
        display: flex;
        justify-content: baseline;
        align-items: center;
        
    }
    .maincontainer {
        margin: 0 auto;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        box-shadow: 7px 7px 7px hsl(221, 100%, 96%);
        border-radius: 50px;

    }

    .result{
        height: 100%;
        width: 50%;
        border-radius: 30px;
    }

    .circle {
        width: 52%;
        height: 45%;
        border-radius: 50%;
    }

    .summary {
        width: 50%;
        height: 100%;
    }
}